<div>
  <p-panel>
    <p-header>
      Stock Stats
    </p-header>
    <div class="ui-g">
      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12">
          <app-stock-bar></app-stock-bar>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <div class="p-grid p-align-start vertical-container">
            <div class="ui-g-12 ui-lg-2 ui-md-12">
              <app-stock-select></app-stock-select>
            </div>
            <div class="ui-g-12 ui-lg-10 ui-md-12 p-col">
              <app-stock-list></app-stock-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-panel>
</div>
