app-book-search-bar,app-book-list,app-book-selected-item {
  width: calc((100% - 0.5px) * 1 + 0px);
}
app-book-list,app-book-selected-item {
  height: calc((100% - 0.5px) * 1 + 0px);
}

.booklist {
  height: 100%;
  overflow: auto;
}
